<!DOCTYPE HTML>
<html>
<head th:replace="fragments/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
    <div class="container-wrap border-wrap">
        <div class="btn-group" style="float:right;">
            <a role="button" class="btn btn-success btn-sm" href="/team/settings/list">목록</a>
        </div>
        <h1>팀관리 화면 - 팀 시즌 기록 관리</h1>
        <form class="row g-3" method="post" th:action="|/team/settings/rank/save/${team.id}|" onsubmit="return save_check();">
            <input type="hidden" id="teamId" th:value="${team.id}">
            <input type="hidden" id="idVal">
            <div class="col-md-6">
                <label for="teamName" class="form-label">팀</label>
                <input type="text" class="form-control" id="teamName" name="teamName" th:value="${team.teamName}" readonly>
            </div>
            <div class="col-md-6">
                <label for="season" class="form-label">시즌</label>
                <select class="form-select" aria-label="Default select example" id="season" onchange="season_val();">
                    <th:block th:each="num : ${#numbers.sequence(21,10)}">
                        <option th:text="|20${num}-${num+1}|" th:value="|20${num}|"></option>
                    </th:block>
                </select>
            </div>
            <div class="col-md-2">
                <label for="victory" class="form-label">승리</label>
                <input type="number" class="form-control" id="victory" name="victory">
            </div>
            <div class="col-md-2">
                <label for="draw" class="form-label">무승부</label>
                <input type="number" class="form-control" id="draw" name="draw">
            </div>
            <div class="col-md-2">
                <label for="lose" class="form-label">패배</label>
                <input type="number" class="form-control" id="lose" name="lose">
            </div>
            <div class="col-md-2">
                <label for="score" class="form-label">득점</label>
                <input type="number" class="form-control" id="score" name="score">
            </div>
            <div class="col-md-2">
                <label for="loss" class="form-label">실점</label>
                <input type="number" class="form-control" id="loss" name="loss">
            </div>
            <div class="col-12">
                <button type="button" class="btn btn-danger float_right" onclick="delete_season();">시즌기록 삭제</button>
                <button type="submit" class="btn btn-primary float_right mr5">저장</button>
            </div>
        </form>
    </div>
    <div th:replace="fragments/footer :: footer"></div>
    <script src="/webapp/js/team/settings/rankSave.js"></script>
</body>
</html>


