.container-wrap {
    width: 80%;
    margin: 0 auto;
}

.border-wrap {
    padding: 20px;
    border: 1px groove #000000;
}

.list_logo {
    width: 50px;
    height: 50px;
}

#teamListArea td, #playerListArea td {
    height: 50px;
    line-height: 50px;
}

.customA {
    color: black;
    text-decoration: none;
}

.container-wrap .card {
    width: 100%;
}

.container-wrap .card img {
    width: 300px;
    height: 300px;
    margin: 0 auto;
}

#teamRankList_table .teamRankList_logo{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

#teamRankList_table .selected_th {
    border-right: 3px solid red;
    border-left: 3px solid red;
    background-color: #fd7373;
    color: white;
}

#teamRankList_table .selected_td{
    border-right: 3px solid red;
    border-left: 3px solid red;
}

.container-wrap .searchAndBtn_area select{
    width: 20%;
    float: left;
}

.container-wrap .searchAndBtn_area .btn-group{
    float: right;
}